---
import BaseHead from '../components/BaseHead.astro';
import Nav from '../components/Nav.svelte';
import Intro from '../components/sections/Intro.svelte';
import About from '../components/sections/About.svelte';
import Projects from '../components/sections/Projects.svelte';
import Contact from '../components/sections/Contact.svelte';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead />
	</head>
	<body>
		<Nav />
		<Intro />
		<About />
		<Projects />
		<Contact />
	</body>
</html>

<style lang="scss">
	@import '../scss/variables.scss';
	@import '../scss/fonts.scss';
	:global(body){
	  background-color: $background;
	  font-family: $font-regular;
	}
  </style>