---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import bootstrap from 'bootstrap/dist/css/bootstrap.min.css';
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<title>Maximus Lewis</title>
<script src={bootstrap}></script>