/* Variables and mixins declared here will be available in all other SCSS files */
@import "bootstrap/scss/functions"; /* Override Bootstrap's variables here */
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

$orange: #CC5500;
$light-orange: #ffd7b5;
$background: #18191A;
$light-gray: #8e8e8e;
$white: #f0f8ff;
$medium-gray: #292b2c;